<template>
  <v-container
    style="width: 80%;"
    class="about">
    <p class="display-1 text-center">About Log Chat</p>
  </v-container>
</template>
<script>
export default {
  data: () => ({
  })
}
</script>
