<template>
  <div class="how-to">
    <v-row
      class="pt-3"
      >
      <v-col
        justify="center"
        align="center">
        <!--
    <v-img
      :src="require('@/assets/Basic-usage.gif')"
      width="75%">
    </v-img>
        -->
      </v-col>
    </v-row>
  </div>
</template>
